Source: ros-indigo-designator-integration
Section: misc
Priority: extra
Maintainer: Jan Winkler <winkler@cs.uni-bremen.de>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-designator-integration
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-designator-integration-cpp, ros-indigo-designator-integration-lisp
Description: Metapackage grouping the packages C++ and Common LISP library packages for ROS designator integraiton.
