Source: ros-jade-designator-integration-cpp
Section: misc
Priority: extra
Maintainer: Jan Winkler <winkler@cs.uni-bremen.de>
Build-Depends: debhelper (>= 9.0.0), ros-jade-catkin, ros-jade-designator-integration-msgs, ros-jade-roscpp
Homepage: http://ros.org/wiki/designator_integration
Standards-Version: 3.9.2

Package: ros-jade-designator-integration-cpp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jade-designator-integration-msgs, ros-jade-roscpp
Description: Integration of Designator Communication via ROS as C++ Classes
